#story{
    margin: 0px 50px -50px;

    text-align: justify;
}

#gymcardscontainer{
    margin-bottom: 40px;
}

.gympresentationpics{
    transform: scale(0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.gympicstext{
    margin: -60px 50px -20px;
    text-align: justify;
}



