#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

input{
    text-align: center;
    border-radius: 15px;
}

textarea{
    text-align: center;
    text-justify: auto;
    border-radius: 15px;
}

iframe{
    height: 350px;
    margin: 30px 80px;
    border-radius: 15px;
}

form{
    margin-left: 150px;
    margin-right: 150px;
}

button{
    background-color: white;
    height: 25px;
    width: 200px;
    border-radius: 15px;
}