#weekschedule{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}

#week{
    display: flex;
    flex-wrap: wrap;
}

.hours{
    margin: 30px;
    font-size: larger;
}

.activities{
    font-size: 40px;
    font-weight: 500;
}

.courspresentationpics{
    width: 85%;
    margin: 0px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#day1{
    text-align: center;
    display: block;
}

#day2{
    text-align: center;
    display: block;
}

#day3{
    text-align: center;
    display: block;
}

#day4{
    text-align: center;
    display: block;
}

#day5{
    text-align: center;
    display: block;
}