#prices{
    display: flex;
    flex-wrap: wrap;
}

.kindofsubscribe{
    margin: 30px;
    font-size: larger;
}

.cost{
    font-size: 40px;
    font-weight: 500;
}

#subscribe1{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#subscribe2{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#subscribe3{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#subscribe4{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#subscribe5{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}